.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 165px;
  align-items: center;
}

.experiencia h2 {
  width: 360px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia h2 {
    width: initial;
  }
}

@media (max-width: 400px) {
  .experiencia h2 {
    width: initial;
  }
}