.tecnologo__extra h3::before {
   display: block;
   content: "";
   width: 24px;
   height: 24px;
   position: absolute;
   left: -36px;
   top: -2px;
}

.tecnologo__extra h3 {
   font-size: 0.875rem;
   line-height: 1.4;
   color: #8f8f8f;
   text-transform: uppercase;
   margin-bottom: 30px;
   position: relative;
}

.tecnologo__extra li {
   font-size: 1.125rem;
   line-height: 1.1;
   margin-bottom: 20px;
}